.fish {
  color: antiquewhite;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 500px;
  left: 500px;
}
.bullet {
  color: black;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 500px;
  left: 500px;
}
.bigContainer {
  perspective: 400px;
  perspective-origin: 50% 10px;
}

.shootingArea {
  position: absolute;
  width: 800px;
  height: 500px;
  /* background-color: red;
  opacity: 0.1; */
  transform-style: preserve-3d;
  transform: translateZ(200px);
}
.content {
  position: relative;
    width: 800px;
    margin: auto;
    top: 200px;
    height: 500px;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}


.back {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(-300px) rotateY(180deg);
  background-color: rgb(127, 178, 255);
  opacity: 0.3;
}
.right {
  position: absolute;
  left: 400px;
  width: 400px;
  height: 500px;
  transform: rotateY(-270deg) translateX(300px);
  transform-origin: top right;
  background-color: rgb(127, 255, 206);
  opacity: 0.3;
}
.left {
  position: absolute;

  width: 400px;
  height: 500px;
  transform: rotateY(270deg) translateX(-300px);
  transform-origin: center left;
  background-color: rgb(127, 255, 159);
  opacity: 0.3;
}
.top {
  position: absolute;

  width: 800px;
  height: 400px;
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background-color: white;
  opacity: 0.3;
}
.bottom {
  position: absolute;
  top: 100px;
  width: 800px;
  height: 400px;
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-color: aquamarine;
  opacity: 0.3;
}
.front {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(100px);
  background-color: rgb(127, 246, 255);
  opacity: 0.3;
}
.bullet {
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
}
#button {
  background-color: purple;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  position: absolute;
  border: solid 2px black;
}
