.fish {
  
 background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  
  width: 50px;
  height: 50px;
  position: absolute;
  
}
.shadow {
  background-color: rgb(87, 82, 77);
  border: 1px solid black;
  border-radius: 70%;
  width: 50px;
  height: 50px;
  position: absolute;
  transform-origin: top;
}
.shadowShark{
  background-color: rgb(87, 82, 77);
  border: 1px solid black;
  border-radius: 70%;
  width: 70px;
  height: 70px;
  position: absolute;
  transform-origin: top;
}
.shark{
  background-size:cover;
  background-position: center;
 
  width: 100px;
  height: 100px;
  position: absolute;
}

.shadowBullet {
  background-color: rgb(87, 82, 77);
  border: 1px solid black;
  width: 5px;
  height: 10px;
  position: absolute;
 
}
.bullet {
  background-color: black;
  border: 1px solid black;
  width: 5px;
  height: 10px;
  /* border-radius: 50%; */
  position: absolute;
}
.ornament{
  position: absolute;
  background-size: cover;
}
.bigContainer {
  perspective: 200px;
  perspective-origin: 50% 100%;
}

.shootingArea {
  position: absolute;
  width: 800px;
  height: 500px;
  opacity: 0.1; 
  transform-style: preserve-3d;
  transform: translateZ(200px);
}
.content {
  position: relative;
  width: 800px;
  margin: auto;
  top: 200px;
  height: 500px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.back {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(-400px) rotateY(180deg);
  opacity: 0.3;
}
.right {
  position: absolute;
  left: 400px;
  width: 400px;
  height: 500px;
  transform: rotateY(-270deg) translateX(400px);
  transform-origin: top right;
  opacity: 0.3;
}
.left {
  position: absolute;
  width: 400px;
  height: 500px;
  transform: rotateY(270deg) translateX(-400px);
  transform-origin: center left;
  /* background-image: url("frontCoral.png"); */
  background-size: 100%;
  background-position-x: center;
  
  background-repeat: no-repeat;
  
}
.top {
  position: absolute;
  background-image: url("sky underwater.jpg");
  opacity: 0.5;
  background-size: cover;
  width: 800px;
  height: 400px;
  transform: rotateX(-90deg) translateY(0px);
  transform-origin: top center;
}
.bottom {
  position: absolute;
  top: 100px;
  width: 800px;
  height: 400px;
  transform: rotateX(90deg) translateY(0px);
  transform-origin: bottom center;
  background-image: url("beach.jpg");
  background-size: cover;
  background-position:center;
  border: solid black;
  display:grid;
}
#bottom1 {

  position:absolute;

}

.front {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(0px);
  border: solid black;
  background-image: url("ocean.jpg");
  background-size: cover;
  background-position:center;
  opacity: 0.235;
}

#button {
  background-color: purple;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  position: absolute;
  border: solid 2px black;
}
