.fish {
  background-color: orange;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  
}
.shadow {
  background-color: rgb(87, 82, 77);
  border: 1px solid black;
  border-radius: 70%;
  width: 60px;
  height: 40px;
  position: absolute;

}
.shark{
  background-color: blue;
  border: 1px solid black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
}
.shadowShark{
  background-color: blue;
  border: 1px solid black;
  border-radius: 80%;
  width: 70px;
  height: 50px;
  position: absolute;
}
.shadowBullet {
  background-color: rgb(87, 82, 77);
  border: 1px solid black;
  width: 5px;
  height: 10px;
  position: absolute;
 
}
.bullet {
  background-color: black;
  border: 1px solid black;
  width: 5px;
  height: 10px;
  /* border-radius: 50%; */
  position: absolute;
}
.bigContainer {
  perspective: 200px;
  perspective-origin: 50% 70%;
}

.shootingArea {
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: red;
  opacity: 0.1; 
  transform-style: preserve-3d;
  /* 
  transform: translateZ(200px); */
}
.content {
  position: relative;
  width: 800px;
  margin: auto;
  top: 200px;
  height: 500px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.back {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(-400px) rotateY(180deg);
  background-color: rgb(127, 178, 255);
  opacity: 0.3;
}
.right {
  position: absolute;
  left: 400px;
  width: 400px;
  height: 500px;
  transform: rotateY(-270deg) translateX(400px);
  transform-origin: top right;
  background-color: rgb(127, 255, 206);
  opacity: 0.3;
}
.left {
  position: absolute;

  width: 400px;
  height: 500px;
  transform: rotateY(270deg) translateX(-400px);
  transform-origin: center left;
  background-color: rgb(127, 255, 159);
  opacity: 0.3;
}
.top {
  position: absolute;

  width: 800px;
  height: 400px;
  transform: rotateX(-90deg) translateY(0px);
  transform-origin: top center;
}
.bottom {
  position: absolute;
  top: 100px;
  width: 800px;
  height: 400px;
  transform: rotateX(90deg) translateY(0px);
  transform-origin: bottom center;
  background-color: aquamarine;
  opacity: 0.3;
  border: 3px solid black;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.front {
  position: absolute;
  width: 800px;
  height: 500px;
  transform: translateZ(0px);
}

#button {
  background-color: purple;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  position: absolute;
  border: solid 2px black;
}
